<br>
After multiple health potions and brave fighting, you have managed to clear out all minions in the Blood Moor dungeon and you have leveled up!<br>
<br>
Now that you have cleared Blood Moor you can go to :<br>
    1) Den of Evil<br>
    2) Cold Plains<br>
Please enter 1 or 2 based on your preferably<br>

<br>
<br>
<form action="{{ url_for("act_1")}}" method="post">
<label for="Character name">User input:</label>
<input type="text" id="Character name" name="fname_1" placeholder="User input">
<button type="submit">Submit</button>