After multiple health potions and brave fighting, you have managed to clear out all minions in the Den of Evil dungeon!

You have leveled up {{ char_type }}!<br>
<br>
Current stats:<br>
Hero name : {{ char_name }},<br> Hero type: {{ char_type }},<br> Hero level: {{ char_level }}<br>

<br>


Now that Den of Evil is cleared you do not have any options to go further.<br>
Only option now you have is to go back from Den of Evil and go to --> Cold Plants
<br>
<a href="{{ url_for('blood_moor') }}">Back</a>

<body>
<div class="bd-example" align="middle">

<img src="/static/Den_of_evil.jpg">

</div>
</body>
</html>