Welcome {{ char_name }} to Rogue Encampment.<br>
You have picked up hero type: {{ char_type }}, your starting level is :{{ char_level }} <br>
<br>
INTRO:<br>
The Rogue Encampment is the only town in PYTHON Diablo II and the starting point of the game.<br>
It is a makeshift fortress located right next to the Blood Moor dungeon.<br>
The Rogue Encampment, as its name designates, is the camp set up by the survivors from the Sisterhood of the Sightless Eye. <br>
The Rogue Monastery, guarding the only pass to the east, was attacked by the forces of Hell after Diablo had passed by. <br>
There he left Andariel, the Maiden of Anguish, in charge to prevent any eventual pursuer
from following him east.<br>
Now lets clear Blood Moor dungeon.<br>
<br>

Type 'east' to begin :<br>


<h1></h1>
<form action="{{ url_for("game_started")}}" method="post">
<label for="Character name">User input:</label>
<input type="text" id="Character name" name="fname_1" placeholder="User input">
<button type="submit">Submit</button>
