   Welcome to PYTHON DIABLO GAME
    Your journey begins at ACT 1 "Rogue Encampment".
    If you want to win the game ... with your hero you have to defeat the final boss 'Andariel'.
   <br>
    In order to do so you have to be at minimum level 4.
    You have to clear out the dungeons outside ACT 1 in order to level up.
   <br>
   <br>
   Lets start the game :<br>
   1) Please enter a name for your hero<br>
   2) Please pick one character class - at version 1.01 only 3 types are available : Barbarian, Sorceress, Paladin<br>
   Note : please pick one of the available characters to proceed, else you be redirected back<br>
   <br>
   <br>


<form action="{{ url_for("gfg")}}" method="post">
<label for="Character name">Character name:</label>
<input type="text" id="Character name" name="fname" placeholder="Character name">
<label for="Character type">Character type:</label>
<input type="text" id="Character type" name="lname" placeholder="Character type">
<button type="submit">Submit</button>
